@model MakeupShop.ViewModels.UserMakeupVM

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h3 style="color:#FF5580">Are you sure you want to add @ViewBag.MakeupName?</h3>
        </p>
        <div class="row">
            <h3 style="color:#000">Price: $@ViewBag.Price</h3>
                <br />
                <form asp-action="Buy">
                    <input asp-for="MakeupId" value="@ViewBag.MakeupId" class="visually-hidden" />
                    <input asp-for="UserMakeup.AppUser" value="@User.Identity.Name" class="visually-hidden" />

                    <input class="btn btn-outline-success float-end" type="submit" value="Yes" />
                <a class="btn btn-outline-secondary" asp-controller="Makeup" asp-action="Index">Cancel</a>
                </form>
        </div>
    </div>    
</div>