@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 style="color:#000">@ViewData["Title"]</h1>

<style>
    .register-div {
        color: #FF5580;
    }

    .bubble {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
        animation: animate_4010 8s ease-in-out infinite;
    }

        .bubble:nth-child(2) {
            position: relative;
            zoom: 0.45;
            left: -10px;
            top: -100px;
            animation-delay: -4s;
        }

        .bubble:nth-child(3) {
            position: relative;
            zoom: 0.45;
            right: -80px;
            top: -300px;
            animation-delay: -6s;
        }

        .bubble:nth-child(4) {
            position: relative;
            zoom: 0.35;
            left: -120px;
            bottom: -200px;
            animation-delay: -3s;
        }

        .bubble:nth-child(5) {
            position: relative;
            zoom: 0.5;
            left: 0px;
            top: 200px;
            animation-delay: -5s;
        }

    @@keyframes animate_4010 {
        0%, 100% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(20px);
        }
    }

    .bubble::before {
        content: '';
        position: absolute;
        top: 50px;
        left: 45px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        z-index: 10;
        filter: blur(2px);
    }

    .bubble::after {
        content: '';
        position: absolute;
        top: 80px;
        left: 80px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        z-index: 10;
        filter: blur(2px);
    }

    .bubble span {
        position: absolute;
        border-radius: 50%;
    }

        .bubble span:nth-child(1) {
            inset: 10px;
            border-left: 15px solid #0fb4ff;
            filter: blur(8px);
        }

        .bubble span:nth-child(2) {
            inset: 10px;
            border-right: 15px solid #ff4484;
            filter: blur(8px);
        }

        .bubble span:nth-child(3) {
            inset: 10px;
            border-top: 15px solid #ffeb3b;
            filter: blur(8px);
        }

        .bubble span:nth-child(4) {
            inset: 30px;
            border-left: 15px solid #ff4484;
            filter: blur(12px);
        }

        .bubble span:nth-child(5) {
            inset: 10px;
            border-bottom: 10px solid #fff;
            filter: blur(8px);
            transform: rotate(330deg);
        }

</style>
<div class="row">
    <div class="col-md-4 register-div">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>

                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <div class="container">
            <div class="bubble">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bubble">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bubble">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bubble">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="bubble">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
