@model MakeupShop.ViewModels.BrandModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update Brand</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Brand.Id" />
                    <div class="form-group">
                        <label asp-for="Brand.Name" class="control-label"></label>
                        <input asp-for="Brand.Name" class="form-control" />
                        <span asp-validation-for="Brand.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand.Description" class="control-label"></label>
                        <input asp-for="Brand.Description" class="form-control" />
                        <span asp-validation-for="Brand.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brand.ReleaseDate" class="control-label"></label>
                        <input asp-for="Brand.ReleaseDate" class="form-control" />
                        <span asp-validation-for="Brand.ReleaseDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input" id="customFile">
                        </div>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div><br />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-dark float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
