@model MakeupShop.ViewModels.UploadViewModel

<h1>Upload PDF</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="file" class="form-control" accept=".pdf" type="file" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
